

.CardProduct_container {
  width: 15rem;
 margin: 2rem 2rem;
 background: #F8EEDB;
  color: #202020;
}

.CardProduct_container img{
  width: 15rem;
  height: 15rem;
}
.CardProduct_info{
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}
.CardProduct_info p::first-line{
  font-weight: 500;
  font-size: 1.2rem;
}

.card_button{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  padding: .5rem;
}
.card_button_edit button{
  margin-right: 1rem;
  background: #75db15;
  border: none;
  padding: .325rem;
  border-radius: .325rem;
  width: 4rem;
  font-weight: 500;

  transition: 1s;
}
.card_button_edit button:hover{
  background: #3a7007;
  color: #fff;
}

.card_button_delete button{
  background: #ff0b03;
  border: none;
  padding: .325rem;
  border-radius: .325rem;
  width: 4rem;
  font-weight: 500;

  transition: 1s;
}
.card_button_delete button:hover{
  background: #b30c07;
  color: #fff;

}


