#header_container{
 
  background: #F8EEDB;
  color: #202020;

  display: flex;
  align-items: center;

  height: 7rem;
  
}

.logo{
  width: 30%;
  font-family: 'Lobster', cursive;
  font-size:2.5rem ;
  margin-left: 1rem;
  
}
.pesquisa{
  width: 50%;
}

.user_menu{
  width: 20%;
}

.user_menu a{
  display: flex;

  align-items: center;
  margin: .5rem;

  text-decoration: none;
  color: #202020;

  font-family: 'Roboto', sans-serif;

  transition: .2s;
}

.user_menu a:hover{
  color: #e6b967;
 
  transform: translateX(.2rem) translateY(.2rem);
} 

.user_menu i {
  margin-right: .5rem;
}